
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ object.name | slice:":15" }}</h3>
                        <h4 class="card-title pricing-card-title">{{ object.price }} руб.</h4>
                        <p class="card-text">
                            {{ object.description | slice:":100" }}
                        </p>
                        <a href="{% url 'product' object.id %}" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>