{% extends 'catalog/base.html' %}
{% block content%}

<div class="row text-center">
    <h5 class="display-6">Добавить новые продукты</h5>
    <form method="post" action="" class="form-floating">
            {% csrf_token %}

            <div class="container d-flex justify-content-center">
                <div class="mb-3 col-3">
                    <label for="name">Название продукта</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Введите название" required>
                    <label for="name">Описание продукта</label>
                    <input type="text" name="description" class="form-control" id="name" placeholder="Описание продукта" required>
                    <label for="name">Цена</label>
                    <input type="text" name="price" class="form-control" id="name" placeholder="Введите цену" required>
                    <input type="submit" value="Отправить" />
                </div>


</div>


{% endblock %}
