{% extends 'catalog/base.html' %}
{% block content%}
<div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                          {% csrf_token %}

                          <div class="mb-3">
                            <label for="name">Название продукта</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Введите название" required>
                          </div>

                          <div class="mb-3">
                            <label for="description">Описание продукта</label>
                            <input type="text" name="description" class="form-control" id="description" placeholder="Описание продукта" required>
                          </div>

                          <div class="mb-3">
                            <label for="preview_image">Изображение продукта</label>
                            <input type="file" name="preview_image" id="preview_image" accept="image/*">
                          </div>

                          <div class="mb-3">
                            <label for="category">Категория</label>
                            <select name="category" class="form-control" id="category" required>
                              {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                              {% endfor %}
                            </select>
                          </div>

                          <div class="mb-3">
                            <label for="price">Цена</label>
                            <input type="number" name="price" class="form-control" id="price" placeholder="Введите цену">
                          </div>

                          <button type="submit" class="btn btn-primary">Добавить</button>
                        </form>
                    </div>
                </div>
</div>
{% endblock %}