{% extends 'catalog/base.html' %}
{% load filters %}

{% block content%}

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Удобный сервис рассылок</h4>
                </div>
                    <div class="card-body">
                        <h2>{{ product.name }}</h2>
                        <p>Описание товара: {{ product.description }}</p>
                        <p>Цена: {{ product.price }} руб.</p>
                            <img class="img"
                                 src="{% mediapath product.preview_image %}"
                                 alt="{{ product.name }}"
                                 width="200"
                                 height="250"
                            >
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}