{% extends 'catalog/base.html' %}
{% load filters %}

{% block content%}

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Удобный сервис рассылок</h4>
                </div>
                    <div class="card-body">
                        <h2>{{ object.name }}</h2>
                        <p>Описание товара: {{ product.description }}</p>
                        <p>Цена: {{ product.price }} руб.</p>
                            <img class="img"
                                 src="{{ product.preview_image|mediapath }}"
                                 alt="{{ product.name }}"
                                 width="200"
                                 height="250"
                            >
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}