{% extends 'catalog/base.html' %}
{% load filters %}
{% block content%}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Продукты</h1>


</div>
<div class="container">
    <div class="col-12">
      {% if object.email_is_confirmed %}
        <a href="{% url 'create_product' %}" type="button" class="btn btn-primary mb-3">Добавить продукт </a>
      {% endif %}
            <div class="row text-center">
                {% for object in object_list %}
                {% include 'catalog/includes/inc-category.html' %}
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}