{% extends 'catalog/base.html' %}
{% load filters %}
{% block content%}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">


</div>
<div class="container">
    <div class="col-12">
      {% if perms.catalog.add_product %}
        <a href="{% url 'create_product' %}" type="button" class="btn btn-primary mb-3">Добавить продукт </a>
      {% endif %}
            <div class="row text-center">
                {% include 'catalog/includes/inc-category.html' %}
            </div>
    </div>
</div>
{% endblock %}